body { font-family: sans-serif; background: #f3e5f5; color: #4a148c; padding: 20px; }
.card { background: white; padding: 20px; margin: 20px 0; border-radius: 8px; border-left: 5px solid #7b1fa2; }
.btn-emergencia { 
    position: fixed; top: 10px; right: 10px; 
    background: red; color: white; border: none; padding: 10px; cursor: pointer; 
}
header { text-align: center; margin-bottom: 40px; }
